<div class="card">
  <div class="card-header">Sign Up Form!</div>

  <div class="card-body">
    <form
      class="form-horizontal"
      novalidate
      (ngSubmit)="onSubmit()"
      [formGroup]="signupForm">
      <div class="row form-group">
        <label class="col-md-2 col-form-label" for="firstname">First Name</label>
        <div class="col-md-8">
          <input
            type="text"
            class="form-control"
            id="firstname"
            placeholder="First Name (required)"
            formControlName="firstname"
            [ngClass]="{'is-invalid': (signupForm.get('firstname').touched ||
                                      signupForm.get('firstname').dirty) &&
                                      signupForm.get('firstname').invalid }" >
            <span class="invalid-feedback">
              <span *ngIf="signupForm.get('firstname').hasError('required')">Please enter your first name.</span>
              <span *ngIf="signupForm.get('firstname').hasError('minlength')">The first name must be longer than 3 characters.</span>
            </span>
        </div>
      </div>

      <div class="row form-group">
        <label class="col-md-2 col-form-label" for="lastname">Last Name</label>
        <div class="col-md-8">
          <input
            type="text"
            class="form-control"
            id="lastname"
            placeholder="Last Name (required)"
            formControlName="lastname"
            [ngClass]="{'is-invalid': (signupForm.get('lastname').touched ||
                                      signupForm.get('lastname').dirty) &&
                                      signupForm.get('lastname').invalid }" >
            <span class="invalid-feedback">
              <span *ngIf="signupForm.get('lastname').hasError('required')">Please enter your last name.</span>
              <span *ngIf="signupForm.get('lastname').hasError('maxlength')">The last name can not be longer than 30 characters.</span>
            </span>
        </div>
      </div>

      <div formGroupName="emailGroup">
        <div class="row form-group">
          <label class="col-md-2 col-form-label" for="email">Email</label>
          <div class="col-md-8">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Email (required)"
              formControlName="email"
              [ngClass]="{'is-invalid': emailMessage}">
              <span class="invalid-feedback" *ngIf="emailMessage">
                {{ emailMessage }}
              </span>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-md-2 col-form-label" for="confirmEmail">Confirm Email</label>
          <div class="col-md-8">
            <input
              type="email"
              class="form-control"
              id="confirmEmail"
              placeholder="Confirm Email (required)"
              formControlName="confirmEmail"
              [ngClass]="{'is-invalid': signupForm.get('emailGroup').errors ||
                                        ((signupForm.get('emailGroup.confirmEmail').touched ||
                                        signupForm.get('emailGroup.confirmEmail').dirty) &&
                                        signupForm.get('emailGroup.confirmEmail').invalid)}">
              <span class="invalid-feedback">
                <span *ngIf="signupForm.get('emailGroup.confirmEmail').hasError('required')">Please confirm your email address.</span>
                <span *ngIf="signupForm.get('emailGroup').hasError('match')">The confirmation does not match the email address.</span>
              </span>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <label class="col-md-2 col-form-label" for="phone">Phone</label>
        <div class="col-md-8">
          <input
            type="tel"
            class="form-control"
            id="phone"
            placeholder="Phone"
            formControlName="phone"
            [ngClass]="{'is-invalid': signupForm.get('phone').invalid}" >
            <span class="invalid-feedback">
              <span *ngIf="signupForm.get('phone').hasError('required')" >
                Please enter your phone number.
              </span>
            </span>
        </div>
      </div>

      <div class="row form group">
        <div class="col-md-2 col-form-label pt-0">Send Notification</div>
        <div class="col-md-8">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input
                type="radio"
                class="form-check-input"
                value="email"
                formControlName="notification">
            </label> Email
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input
                type="radio"
                class="form-check-input"
                value="text"
                formControlName="notification">
            </label> Text
          </div>
        </div>
      </div>

      <div class="row form-group">
        <label for="rating" class="col-md-2 col-form-label">Rating</label>
        <div class="col-md-8">
          <input
            type="number"
            class="form-control"
            id="rating"
            formControlName="rating"
            [ngClass]="{'is-invalid': (signupForm.get('rating').touched ||
                                      signupForm.get('rating').dirty)
                                      && signupForm.get('rating').invalid}">
            <span class="invalid-feedback">
              <span *ngIf="signupForm.get('rating').hasError('range')" >
                Please enter your experience from 1 to 5
              </span>
            </span>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-8">
          <div class="form-check">
            <label class="form-check-label">
              <input
                type="checkbox"
                class="form-check-input"
                id="sendCatalog"
                formControlName="sendCatalog"> Send me your catalog
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="signupForm.get('sendCatalog').value" >
        <div class="row form-group">
          <div class="col-md-4 offset-md-2">
            <button
              type="button"
              class="btn btn-primary"
              (click)="addAddress()">Add Another Address</button>
          </div>
        </div>

        <div formArrayName="addresses"
             *ngFor="let address of addresses.controls; let i = index" >
          <div [formGroupName]="i">
            <div class="row form-group">
              <label class="col-md-2 col-form-label pt-0">Address Type</label>
              <div class="col-md-8">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input
                      type="radio"
                      class="form-check-input"
                      id="addressType1"
                      value="home"
                      formControlName="addressType"> Home
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input
                      type="radio"
                      class="form-check-input"
                      id="addressType1"
                      value="work"
                      formControlName="addressType"> Work
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input
                      type="radio"
                      class="form-check-input"
                      id="addressType1"
                      value="other"
                      formControlName="addressType"> Other
                  </label>
                </div>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-md-2 col-form-label"
                    attr.for="{{'streetAddress1' + i}}">Street Address 1</label>
              <div class="col-md-8">
                <input
                  type="text"
                  class="form-control"
                  id="{{'streetAddress1' + i}}"
                  placeholder="Street address"
                  formControlName="street1">
              </div>
            </div>

            <div class="row form-group">
              <label class="col-md-2 col-form-label"
                     attr.for="{{'streetAddress2' + i}}">Street Address 2</label>
              <div class="col-md-8">
                <input
                  type="text"
                  class="form-control"
                  id="{{'streetAddress2' + i}}"
                  placeholder="Street address (second line)"
                  formControlName="street2">
              </div>
            </div>

            <div class="row form-group">
              <label class="col-md-2 col-form-label">City, State, Zip Code</label>
              <div class="col-md-3">
                  <input
                    type="text"
                    class="form-control"
                    id="{{'city' + i}}"
                    placeholder="City"
                    formControlName="city">
              </div>
              <div class="col-md-3">
                <select
                  class="form-control"
                  id="{{'state' + i}}"
                  formControlName="state">
                  <option
                    value=""
                    disabled
                    selected
                    hidden>Select a State...</option>
                  <option value="SR">Srbija</option>
                  <option value="AK">Alaska</option>
                  <option value="AZ">Arizona</option>
                  <option value="AR">Arkansas</option>
                  <option value="CA">California</option>
                  <option value="CO">Colorado</option>
                  <option value="WI">Wisconsin</option>
                  <option value="WY">Wyoming</option>
                </select>
              </div>
              <div class="col-md-2">
                  <input
                    type="number"
                    class="form-control"
                    id="{{'zip' + i}}"
                    placeholder="Zip Code"
                    formControlName="zip">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-8 offset-md-2">
          <button
            type="submit"
            class="btn btn-primary mr-1"
            [disabled]="signupForm.invalid">Sign Up</button>
          <button
            type="button"
            class="btn btn-outline-success mr-1"
            (click)="onSuperUser()">Super User</button>
        </div>
      </div>
    </form>
  </div>
</div>
<br>Dirty: {{ signupForm.dirty }}
<br>Touched: {{ signupForm.touched }}
<br>Valid: {{ signupForm.valid }}
<br>Value: {{ signupForm.value | json }}
